* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #339933;
  --lightgreen: #ccffcc;
  --box-shadow: 0 0 10px rgba(0, 0, 0/15%);
  --light-yellow: #e0ffcd;
}
html {
  font-size: 16px;
  -ms-scrollbar: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  --ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  /* background-image: url("./images/image1.jpg"); */
  width: 100%;
}
.main {
  width: 85vw;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0 0 0/10%);
  margin: 1rem auto;
  margin-top: 10rem;
  padding: 2%;
}
a {
  text-decoration: none;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 2;
}
.title p {
  text-transform: capitalize;
}
ul {
  list-style: none;
}
sup {
  position: absolute;
  top: 15%;
  background: var(--lightgreen);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 15px;
  text-align: center;
  padding: 0.1rem;
}
.empty {
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 59%;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background: var(--lightgreen);
  color: var(--green);
  border: 1px solid var(--green);
}
.btn {
  line-height: 2;
  background-color: var(--light-yellow);
  padding: 5px 35px;
  display: inline-block;
  border-radius: 30px;
  color: #000;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  z-index: 2;
}
.btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: var(--green);
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 100%;
}
label {
  text-transform: capitalize;
}
input,
textarea {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.3s;
  box-shadow: var(--box-shadow);
  margin: 0.5rem 0;
  border: 1px solid var(--green);
  width: 100%;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.banner {
  /* background: url("/images/image1.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  text-transform: uppercase;
  color: #fff;
  margin-left: 3rem;
}
.title2 {
  border-top: 1px solid var(--green);
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
}
.title2 a {
  color: var(--green);
}

/* header css */
header {
  position: fixed;
  top: 5%;
  left: 7%;
  width: 85vw;
  padding: 1rem;
  z-index: 101;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
  background-image: url("./images/image1.jpg") no-repeat;
  background-color: var(--green);
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
header.scrolled {
  top: 0;
  box-shadow: 0 5 20px 0.1px rgba(0, 0, 0, 0.1);
}
.header.scroiled a:hover {
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: space-between;
  position: relative;
  margin: 0 auto;
}
.navbar a {
  margin: 0 1rem;
  font-size: 1rem;
  color: var(--light-yellow);
  text-transform: uppercase;
}
.navbar a:hover {
  color: var(--green);
}
.header .icons {
  display: flex;
}
.header .icons i {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--light-yellow) !important;
}
#menu-btn {
  display: none;
}
.header .user-box {
  position: absolute;
  top: 120%;
  right: 0;
  box-shadow: rgb(255, 255, 255/80%);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 20rem;
  transform: scale(0);
  transform-origin: top right;
  line-height: 2;
}
.header .user-box .btn {
  border-radius: 0.5rem;
  padding: 0 1.5rem;
}
.logout-btn {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  width: 11rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}
.header .user-box.active {
  transform: scale(1);
  transition: 0.2s linear;
}

/* ----------home section slider css */
.home-section {
  position: relative;
  margin-bottom: 2rem;
}
.slider {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 80vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.slider__slider {
  height: 80vh;
  min-width: 100vw;
  width: 100%;
  scroll-snap-align: start;
  background-position: center;
  background-size: cover;
  position: relative;
}
.slider__slider .slide-detail {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
}
.slider__slider .slide-detail h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.slider__slider .slide-detail h1::before {
  position: absolute;
  content: "";
  background-color: #e2e224;
  width: 300px;
  height: 1px;
  bottom: -40%;
  left: 20%;
}
.slider__slider .slide-detail h1::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -50%;
  left: 50%;
  background-color: #f7b90f;
}
.slider__slider .slider-detail p {
  font-size: 14px;
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.slide1 {
  background-image: url("./images/image1.jpg");
}
.slide2 {
  background-image: url("./images/image2.jpg");
}
.slide3 {
  background-image: url("./images/image3.jpg");
}
.slide4 {
  background-image: url("./images/image4.jpg");
}
.slide5 {
  background-image: url("./images/image1.jpg");
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--lightgreen);
  box-shadow: 0 0 0 6px rgba(255, 255, 255/40%);
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  display: flex;
}

.right-arrow {
  right: 1rem;
}
.left-arrow {
  left: 1rem;
}
.hero-doc-top,
.hero-doc-bottom {
  position: absolute;
  left: 5%;
  width: 100px;
  height: 100px;
}
.hero-doc-top {
  top: 4%;
  border-left: 2px solid #e2e2e255;
  border-top: 2px solid #e2e2e255;
}
.hero-doc-bottom {
  bottom: 5%;
  border-left: 2px solid #e2e2e255;
  border-bottom: 2px solid #e2e2e255;
}

/* thumbnail image */
.thumb {
  max-width: 1200px;
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  padding: 2%;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.thumb .box-container .box {
  text-align: center;
  margin: 1rem;
  line-height: 1.5;
  background: #fff;
  padding-bottom: 1rem;
  color: gray;
}
.thumb .box-container .box img {
  transition: all 800ms ease-in-out;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.thumb .box-container .box:hover img {
  transform: rotateY(180deg);
}
.thumb .box-container .box:hover img {
  transform: rotateY(180deg);
}
.thumb .box-container .box h3 {
  text-transform: capitalize;
  color: var(--green);
}
.thumb .box-container .box i {
  color: var(--green);
  font-size: 40px;
  line-height: 40;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--green);
  cursor: pointer;
}
/* box image with products */
.container .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .box span {
  color: var(--green);
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}
.container .box h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* sbop css */
.row .box-container {
  margin: 0 auto;
}
.row .box-container .box .img-box img {
  max-width: 200px;
  height: 200px;
}
.row .box-container .box {
  border: 1px dashed var(--green);
  margin: 3px;
  width: 200px;
  border-radius: 13px;
}
.row .box-container .box a {
  font-size: 12px;
  width: 130px;
  margin: 0 0 0 13px;
}
/*--------------------- shop category css */
.shop-category .box {
  position: relative;
  margin: 14px 0;
  background: linear-gradient(red, white, blue);
}
.shop-category .detail {
  position: absolute;
  top: 20%;
  left: 5%;
  line-height: 2;
  text-align: center;
}
.shop-category .detail h1 {
  font-size: 2em;
}
.shop-category .detail span {
  font-size: 1.2rem;
}
/* --------------------footer section css */
.top-footer {
  width: 100%;
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 8rem;
}
.top-footer h2 i {
  margin-right: 0.5rem;
}
.top-footer input {
  width: 40vw;
  height: 2.5rem;
  border-radius: 19px;
}
footer {
  color: #fff;
  background-image: url("./images/image4.jpg");
  width: 100%;
  min-height: 79vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer .overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.footer-content {
  position: relative;
  top: 10%;
  color: #fff;
}
.footer-content .img-box {
  text-align: center;
}
footer .inner-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
footer .inner-footer .card {
  margin: 0.5rem;
}
footer .inner-footer .card li {
  cursor: pointer;
  line-height: 1.5rem;
  text-transform: capitalize;
  font-size: 16px;
}
footer .inner-footer .card li:nth-child(1),
footer .inner-footer .card p {
  margin-top: 1rem;
}
footer .inner-footer .card p {
  margin-bottom: 1rem;
  font-size: 18px;
}
footer .inner-footer .card .social-links i {
  width: 50px;
  height: 50px;
  line-height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--green);
  cursor: pointer;
  padding: 0.6rem;
  font-size: 1.3rem;
}
footer .inner-footer .card h3 {
  text-transform: uppercase;
}
footer .inner-footer .card .social-links i:hover {
  background-color: var(--lightgreen);
}
footer .bottom-footer {
  text-transform: capitalize;
  text-align: center;
  padding: 3rem 0;
  color: #000;
  padding-bottom: 1rem;
}
/* -------------------media scrieen */

@media (max-width: 991px) {
  #menu-btn {
    display: block;
  }
  .header .flex .navbar {
    /* positioning a navbar */
    position: absolute;
    /* this is width */
    width: 100%;
    padding: 0 2rem;
    /* 130% up from screen*/
    top: 130%;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--green);
    background-color: #fff;
    transition: top 0.3s ease, clip-path 0.3s ease; /* Transition top and clip-path for smooth animation */
    clip-path: polygon(
      0 0,
      100% 0,
      100% 0,
      0 0
    ); /* Hides the navbar initially */
  }

  .header .flex .navbar.active {
    top: 100%; /* Bring the navbar into view when active */
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%
    ); /* Reveals the entire navbar */
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
    border-bottom: 1px solid var(--green);
  }
  .form-container {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
